services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    restart: always 
    # depends_on:
    #   - redis

  # redis:
  #   image: redis:latest
  #   ports: 
  #     - "6379:6379"
  #   restart: always
    # volumes:
    #   - redis-data:/data

# volumes:
#   redis-data: